:host {
  --hex-size: 100px;
  --hex-size2: 115.47005px;
  --cellColumns: 6;
  --cellRows: 5;
  counter-reset: cell;
}

grid-body {  
  position: relative;
}

grid-cell {
  display: inline-block;
  height: var(--hex-size);
  width: var(--hex-size2);
  background-color: lightgreen;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  position: absolute;
}
grid-cell.active {
  background-color: green;
}
grid-cell.phantom {
  background-color: transparent;
}
grid-cell::before {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  content: attr(column) '/' attr(row);
}

grid-cell[even] {
  top: calc(var(--hex-size) * -0.5);
}
grid-cell:hover {
  background-color: deeppink;
}
grid-cell.active:hover {
  background-color: crimson;
}
